* {
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: Public Sans;
    line-height: 1.5em;
}

.button{
    padding:0.5em;
    border-radius: 0.6em;
    width:8em;
    color:hsl(0, 0%, 100%);
    background:linear-gradient(35deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

.wrapper{
    width:100%;
    margin:0 auto;
    color:hsl(0, 0%, 100%);
}
.container{
    width:90%;
    margin:auto;
}

p{
    color:hsl(233, 8%, 62%);
    padding:1em 1em 1em 0;
}
.author{
    color:hsl(233, 8%, 62%);
}
h2{
    font-size: 1.5em;
    font-weight: 300;
    color:hsl(233, 26%, 24%);
    padding-bottom: 0.2em;
}
h3{
    font-size: 1.2em;
    font-weight: 200;
    color:hsl(233, 26%, 24%);
}
header .container  .navigation{
    color:hsl(233, 8%, 62%);
}
footer .container .nav-bar{
    color: hsl(0, 0%, 100%);
}
footer{
    background-color:hsl(233, 26%, 24%);
}


/* Header*/
.nav-bar{
    margin:0.5em auto;
    padding:0.5em;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.navigation{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navigation div{
    padding:0.5em;
}

/* Digital Banking */

.digital-banking {
    height:35em;
    width:100%; 
    background-image: url("./images/image-mockups.png"),url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat no-repeat;
    background-position: 42em -12em, 35em -12em;
    background-size: 36em auto, 50em 40em;
    display:flex;
}

.digital-banking .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size:1.5em;
    color:hsl(233, 26%, 24%);
    font-weight: 400;
}

.digital-banking .container > p{  
    width: 15em;
} 


/*Easy Bank*/

.features{
    display:flex;
    justify-content: space-between;
}

.article-info img{
    max-width:100%;
}

.article-list{
    display:flex;
    justify-content: space-between;
}
.article-info{
    padding:0.2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


/*footer*/
footer .container{
    padding: 0.5em;
    display:flex;
    justify-content: space-between;
}
footer .container .logo{
    flex-basis: 2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .foot-nav{
    flex-basis:15em;
    display:flex;
    justify-content:space-between;
}
footer .foot-nav .pair1,.pair2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .tail{
    display: flex;
    flex-direction: column;
}



@media all and (min-width: 800px) and (max-width: 1024px) {

    .nav-bar{
        display:flex;
        justify-content:flex-start;
        align-items: center;
    }
    .navigation{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .article-list{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .article-info p{
        width:25em;
    }
    
}

@media all and (min-width: 320px) and (max-width: 799px) {

    header .container .navigation, #button{
        display:none;
    }
    header{
        width:5em;
    }
    .digital-banking {
        background-position: -2em -21em, -4em -24em;
        background-size: 70em 44em, 72em 45em;
        display:flex;
    }
    .digital-banking .container{
        display: block;
        position: relative;
        top: 5em;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items:center;
        width:2em;
        height:2em;
        transition: all 0.5s, ease-in-out;
    }
    .line{
        width:2em;
        height:0.2em;
        background-color: #000;
        transition: all 0.5s ease-in-out;
    }
    .line::before,.line::after{
        content:'';
        position: absolute;
        width: 2em;
        height: 0.2em;
        background-color: #000;
        transition: all 0.5s ease-in-out;
    }
    .line::before{
        transform: translateY(-10px);
    }
    .line::after{
        transform: translateY(10px);
    }

    .menu.open .line{
        background: transparent;
    }
    .menu.open .line::before{
        transform: rotate(45deg) translate(2px,-2px);
    }
    .menu.open .line::after{
        transform: rotate(-45deg) translate(2px,-2px);
    }
    
    header .container > .show{
        display: block;
        position: absolute;
        top: 2.5em;
        width: 100%;
        left: 0;
        background: #FFF;
        text-align: center;
    }

    .features{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .article-list{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer .container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
    .foot-nav{
        width:0;
        flex-direction: column;
    }
}